# Main DB connection
DB_SERVER = 'localhost:1433'
DB_NAME = 'linx'
# Number of links to show per page
PAGE_SIZE = 20
# A = StartsWith, B = SubString
TAG_SEARCH_METHOD = 'A'
# Secret key
SECRET_KEY = 'XXXXXXXX'