# Main DB connection string
CONNECTION_STRING = """host='localhost' dbname='db_name' user='db_user' password='db_password'"""
# Number of links to show per page
PAGE_SIZE = 20
# A = StartsWith, B = SubString
TAG_SEARCH_METHOD = 'A'
# Secret key
SECRET_KEY = 'XXXXXXXX'