<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler"
                 path="*"
                 verb="*"
                 modules="httpPlatformHandler"
                 resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="E:\Inetpub\myapps\linx-env\linx\run.bat"
                      arguments=""
                      stdoutLogEnabled="true"
                      stdoutLogFile="E:\Inetpub\myapps\linx-env\logs\linx.log"
                      startupTimeLimit="20"
                      requestTimeout="00:05:00"
                      processesPerApplication="1">
        </httpPlatform>
    </system.webServer>
</configuration>
