.navbar-right .mab-jquery-taginput {
    // width: 250px;
}

.label-clickable {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #FFF581;
        text-decoration: none;
    }
}

.link-title {
    display: block;
    .edit-link {
        font-size: 0.8em;
        padding-left: 15px;
        display: none;
    }
    &:hover {
        .edit-link {
            display: inline;
        }
    }
}

#results {
    padding-bottom: 60px;
}