{% extends "layout.html" %}

{% block query %}

{{ ' '.join(query_terms) }}

{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
<!--         <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
        </div> -->

<form action="/update-link" method="post" role="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" value="{{ link.title }}">
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" name="url" id="url" placeholder="Enter URL" value="{{ link.url }}">
    </div>
    <div class="form-group">
        <label for="abstract">Abstract</label>
        <textarea name="abstract" id="abstract" class="form-control" placeholder="Enter abstract">{{ link.abstract }}</textarea>
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <!-- <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div> -->
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control tag-input" name="tags" id="tags" placeholder="Enter tags" value="tag1|tag2|tag3">

        <!-- <div class="mab-jquery-taginput form-control">
            <span class="label label-primary">tag1 <span class="glyphicon glyphicon-remove"></span></span><input class="mab-jquery-taginput-data" type="hidden" name="tags" id="tags"><input class="mab-jquery-taginput-input" type="text">
        </div> -->
    </div>
    <input type="hidden" name="link_id" id="link_id" value="{{ link.id | default('0') }}">
    <button type="submit" class="btn btn-default btn-primary">Submit</button>
</form>

{% for result in results %}

<p>
    <a href="{{ result.url }}">{{ result.title }}</a><br />
    {{ result.abstract }}
</p>

{% endfor %}

{% endblock %}