<!DOCTYPE html>
<html>
    <head>
        <title>Linx</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/mab-jquery-taginput.css') }}" />
    </head>
    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Linx</a>
                </div>
                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Enter tags..." name="q" class="form-control" value="{% block query %}{% endblock %}">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
            {% block body %}{% endblock %}
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
        <script type="text/javascript">

            // instantiate the bloodhound suggestion engine
            // var numbers = new Bloodhound({
            //     datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
            //     queryTokenizer: Bloodhound.tokenizers.whitespace,
            //     local: [
            //         { num: 'one' },
            //         { num: 'two' },
            //         { num: 'three' },
            //         { num: 'four' },
            //         { num: 'five' },
            //         { num: 'six' },
            //         { num: 'seven' },
            //         { num: 'eight' },
            //         { num: 'nine' },
            //         { num: 'ten' }
            //     ]
            // });

            // // initialize the bloodhound suggestion engine
            // numbers.initialize();

            // $('.tag-input').typeahead(null, {
            //     displayKey: 'num',
            //     source: numbers.ttAdapter()
            // });

            // var anExcitedSource = function(query, cb) {
            //     var results = $.map(['!', '!!', '!!!'], function(appendage) {
            //         var datum = { theValue: query + ' ' + appendage };
            //         return datum;
            //     });
            //     cb(results);
            // };

            // $('.tag-input').typeahead(null, {
            //     displayKey: 'theValue',
            //     source: anExcitedSource
            // });



            // instantiate the bloodhound suggestion engine
            var tags = new Bloodhound({
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.tag); },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: [
                    { tag: 'tag1' },
                    { tag: 'tag2' },
                    { tag: 'tag3' }
                ]
            });

            // initialize the bloodhound suggestion engine
            tags.initialize();

            $('.mab-jquery-taginput-input').typeahead(null, {
                displayKey: 'tag',
                source: tags.ttAdapter()
            });

            $('.mab-jquery-taginput-input').on('keypress', function(e) {
                if(e.keyCode == 13) {
                    e.preventDefault();
                    e.stopPropagation();

                    $(this).parents('.mab-jquery-taginput')
                           .find('.mab-jquery-taginput-data')
                           .before('<span class="label label-primary">' + $(this).val() + '</span>');

                    $(this).val('');
                }
            });

        </script>
        <script id="update-link-template" type="text/x-handlebars-template">

        </script>
    </body>
</html>